@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://i.pinimg.com/736x/2c/68/97/2c68979de1d5babaa8306c4c79259e2e.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(30px);
}
.hamburger {
  width: 40px;
  cursor: pointer;
  display: none;
}
nav {
  display: flex;
  padding: 32px;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 2em;
  margin-left: 50%;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.nav-links a:hover {
  color: rgb(194, 207, 199);
}
.nav-buttons {
  display: flex;
  gap: 1.4em;
  margin-left: 10%;
}
.login {
  padding: 6px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 6px;
  width: 80px;
  font-weight: 600;
}
.sign-up {
  font-weight: 600;
  padding: 6px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 6px;
  width: 80px;
  background-color: rgb(16, 61, 33);
  color: white;
}
.logo2 {
  color: rgb(16, 61, 33);
}

.page1 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
.left-section {
  padding: 20px;
  width: 50%;
  margin-top: 30px;
  margin-left: 4%;
}
.left-section h1 {
  margin-bottom: 30px;
}
.left-section p {
  display: flex;
  line-height: 1.5;
}
.right-section {
  width: 45%;
}
.right-section img {
  width: 80%;
  max-width: 400px;
  height: auto;
  margin-left: 120px;
}
.buttons {
  display: flex;
  margin-top: 4%;
  gap: 2em;
}
.create-account {
  /* padding: 10px; */
  border: 1px solid black;
  border-radius: 6px;
  color: white;
  background-color: rgb(16, 61, 33);
  width: 150px;
  height: 30px;
}
.review {
  width: 70px;
  mix-blend-mode: multiply;
  background: transparent;
}
.rate span {
  position: relative;
  left: 70%;
  top: -29%;
  font-weight: 600;
}

.rate p {
  position: relative;
  top: -30%;
}
.rate span2 {
  position: relative;
  left: -15%;
}
.create-account:hover {
  background-color: transparent;
  cursor: pointer;
  color: black;
}
.sign-up:hover {
  background-color: transparent;
  cursor: pointer;
  color: black;
}
.login:hover {
  background-color: rgb(145, 194, 164);
  color: white;
  cursor: pointer;
}
.play-demo {
  padding: 10px;
  border: none;
  background-color: white;
}
.partb {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 4px 4px 18px 4px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid rgb(16, 61, 33);
  border-radius: 20px;
  width: 80%;
  margin-top: 6%;
  margin-left: 10%;
  text-align: center;
}
.partb i {
  font-size: 40px;
  position: relative;
  bottom: -6px;
  left: -6%;
}
#features {
  display: flex;
  padding: 20px;
  margin-top: 40px;
  height: 100vh;
}

.sectionA {
  width: 50%;
  padding: 20px;
}
.sectionA p {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.sectionA span {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.features-content img {
  width: 200px;
  mix-blend-mode: multiply;
}
.features-content {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 1em;
}
.features-content div {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(222, 238, 241);
  display: flex;
  height: 30%;
  align-items: center;
}

.features-content .div2 {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px;
  font-size: 18px;
  gap: 1em;
}
.features-content figure {
  position: relative;
  background-color: rgb(222, 238, 241);
}

@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
  .nav-links,
  .nav-buttons {
    visibility: hidden;
    flex-direction: column;
    text-align: center;
  }

  .rate span {
    position: relative;
    left: 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 20px;
    top: 68px;
  }

  .page1 {
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: -20%;
  }
  .left-section {
    width: 100%;
    margin-left: -1%;
  }
  .right-section {
    width: 100%;
    margin-left: -20%;
  }
  .buttons {
    flex-direction: column-reverse;
    align-items: center;
  }
  .partb {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }
  #features {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .sectionA p {
    display: none;
  }
  .features-content div {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .features-content {
    margin-left: -7%;
  }
}
